<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>          
    </button>
    <ion-title>
            <ion-datetime displayFormat="MMMM, YYYY" [(ngModel)]="isoDate" pickerFormat="MMMM/YYYY" name="date" (ngModelChange)="dateChanged($event)"></ion-datetime> 
    </ion-title>
    <ion-buttons end>
            <button ion-button icon-only color="royal">
                <ion-icon name="calendar"></ion-icon>
            </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
        <ion-list *ngIf="expenses.length > 0;">
    <ion-item-group *ngFor="let expense of expenses; let i = index">
      <ion-item-divider color="light" *ngIf="expense">{{expense[0].date | date: 'MMM d'}}</ion-item-divider>
      <ion-item *ngFor="let item of expense">
        <ion-avatar item-start>
          <span>{{item.date | date:'dd'}}</span>
        </ion-avatar>
        <h2>{{item.amount}}</h2>
        <p>{{item.item}}</p>
        <ion-note item-end *ngIf="item.type=='0'" class="expense">- Exp</ion-note>
        <ion-note item-end *ngIf="item.type=='1'" class="income">+ Inc</ion-note>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <div *ngIf="expenses.length <= 0;">No Records found</div>
</ion-content>
