page-list {
  ion-avatar span{
    font-size: 25px;
    background: #dddddd;
    padding: 10px;
    border-radius: 24px;
    line-height: 3;
  }
  .expense {
    color: #F78C75;
  }
  .income {
    color: #5fba7d;
  }
}
