<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="expenseForm" (submit)="save(expenseForm.value)">
    <ion-segment formControlName="type" color="primary" class="tab-segment">
      <ion-segment-button value="0">
        <ion-icon name="remove"></ion-icon>
        <span>Expense</span>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-icon name="add"></ion-icon>
        <span>Income</span>
      </ion-segment-button>
    </ion-segment>
    <ion-list>
      <ion-item>
        <ion-label floating>Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" name="date" formControlName="date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>Item</ion-label>
        <ion-input type="text" name="item" formControlName="item"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Price</ion-label>
        <ion-input type="number" name="price" formControlName="amount"></ion-input>
      </ion-item>

    </ion-list>
    <div padding>
      <button [disabled]="expenseForm.invalid" ion-button block>Save</button>
    </div>
  </form>
</ion-content>
